<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "/WEB-INF/tld/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- console appender -->
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p [%C{1}:%M(%L)] %m%n" />
		</layout>
	</appender>

	<!-- file appender for debug level -->
	<appender name="FileDebug" class="org.apache.log4j.RollingFileAppender">
		<param name="Encoding" value="UTF-8"/>
		<param name="File" value="${catalina.base}/workarea/lotte_ss/log4jlogs/EHR/debug.log" />
		<param name="MaxFileSize" value="10240KB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%C:%M()] %p [%m]%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="DEBUG" />
			<param name="AcceptOnMatch" value="TRUE" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>
	
	<!-- file appender for info level -->
	<appender name="FileInfo" class="org.apache.log4j.RollingFileAppender">
		<param name="Encoding" value="UTF-8"/>
		<param name="File" value="${catalina.base}/workarea/lotte_ss/log4jlogs/EHR/info.log" />
		<param name="MaxFileSize" value="10240KB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%C:%M()] %p [%m]%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="INFO" />
			<param name="AcceptOnMatch" value="TRUE" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>
	
	<!-- file appender for info warn -->
	<appender name="FileWarn" class="org.apache.log4j.RollingFileAppender">
		<param name="Encoding" value="UTF-8"/>
		<param name="File" value="${catalina.base}/workarea/lotte_ss/log4jlogs/EHR/warn.log" />
		<param name="MaxFileSize" value="10240KB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%C:%M()] %p [%m]%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="WARN" />
			<param name="AcceptOnMatch" value="TRUE" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>
	
	<!-- file appender for error level -->
	<appender name="FileError" class="org.apache.log4j.RollingFileAppender">
		<param name="Encoding" value="UTF-8"/>
		<param name="File" value="${catalina.base}/workarea/lotte_ss/log4jlogs/EHR/error.log" />
		<param name="MaxFileSize" value="10240KB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%C:%M()] %p [%m]%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="ERROR" />
			<param name="AcceptOnMatch" value="TRUE" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>
	<logger name="com.ait">
		<level value="debug" />
        <appender-ref ref="FileDebug" />
        <appender-ref ref="FileWarn" />
		<appender-ref ref="FileInfo" />
		<appender-ref ref="FileError" />
	</logger>

	<!-- spring logger -->
	<logger name="org.springframework">
		<level value="error" />
		<appender-ref ref="FileInfo" />
		<appender-ref ref="FileError" />
	</logger>

	<!-- c3p0 connection pool: chỉ là log dọn dẹp connection idle định kỳ, không phải lỗi.
	     Hạ xuống WARN để vẫn ghi lại khi pool thực sự có vấn đề, nhưng bỏ hết log debug/info gây nhiễu console. -->
	<logger name="com.mchange" additivity="false">
		<level value="warn" />
		<appender-ref ref="FileWarn" />
		<appender-ref ref="FileError" />
	</logger>

	<!-- root logger: console appender output shows in the VSCode DEBUG CONSOLE tab when launched via the "launch" debug configuration -->
	<root>
		<priority value="debug" />
        <appender-ref ref="Console" />
		<appender-ref ref="FileDebug" />
		<appender-ref ref="FileInfo" />
		<appender-ref ref="FileWarn" />
		<appender-ref ref="FileError" />
	</root>
	
	
	
	<!-- Tắt log chi tiết mặc định của iBatis (Preparing/Parameters/Total, mở/đóng connection...).
	     SQL đã được log gọn qua logger "com.ait" (xem LimitSqlExecutor): id + file xml + tham số đã gán vào dấu ?. -->
	<logger name="com.ibatis" additivity="false">
		<level value="OFF" />
	</logger>
	
	<logger name="java.sql.Connection" additivity="false">
		<level value="OFF" />
	</logger>

	<logger name="java.sql.Statement" additivity="false">
		<level value="OFF" />
	</logger>

	<logger name="java.sql.PreparedStatement" additivity="false">
		<level value="OFF" />
	</logger>

	<logger name="java.sql.ResultSet" additivity="false">
		<level value="OFF" />
	</logger>
	
</log4j:configuration>